
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

      
        <div class="col-sm-4 col-md-4 navbar-right">
          <div class="mimi" style="background-color: rgb(24, 123, 216);">
          <a class="navbar-brand text-white" href="/admin"><h4><strong>admin</strong></h4></a>
          <a class="navbar-brand text-white" href="/"><h4><strong>Home</strong></h4></a></div>
          
            
           <div>  <!-- Adding a search form -->
                <form class="form-inline my-2 my-md-0" >
                  <input class="form-control mr-sm-2" type="search" placeholder="Search Category" name="imagesearch" aria-label="Search">
                  <button class="btn btn-info btn-md my-2 my-sm-0" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
                </form>
              </div>
          </nav>
          </form>
        </div>
    </nav>
</body>
</html>